
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <a href="https://macservice.vn/"> <img style="width:20%" src="~/Content/image/Macservice.png"> </a> 

    <h2>Hệ thống quản lý nhân sự Công Ty Macservice</h2>
    <p style="line-height:50px;">


        => Quản lý  hồ sơ nhân viên,thêm,sửa,xóa khi có thay đổi về nhân sự trong cty.<br />

        => Cập nhật phòng ban, chức vụ hoặc trình độ chuyên của từng nhân viên khi có sịu thay đổi trong quá trình công tác tại công ty. <br />
        => Quản lý quá trình công tác của nhân viên từ khi bắt đầu làm việc tại công ty cho tới thời điểm  hiện tại.<br />
        => Quản lý khen thưởng, kỷ luật,lịch trình điều động đi công tác của từng nhân viên.<br />
        => Quản lý bảng chấm công của từng phòng ban, và từng nhân viên của mỗi phòng ban.<br />
        => Quản lý quá trình lương của nhân viên thay đổi như thế nào trong toàn bộ quá trình công tác tại công ty .<br />

        => Tìm kiếm, tra cứu thông tin nhân viên trong công ty,ds khen thưởng kỷ luật,lương nhân viên,…<br />
        => Thống kê báo cáo:Báo cáo danh sách nhân viên từng phòng ban, quá trình lương của từng nhân sự,...
    </p>



</div>

